[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
build = 'python setup.py sdist bdist_wheel'
deploy = 'twine upload dist/*'
test = 'pytest'
